body {
	font-family: "Noto Sans", sans-serif;
}
.heading {
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .3rem;
	margin-bottom: 20px;
}
pre {
	display: inline-block;
	font-size: 15px;
	max-width: 100%;
}
code {
	background: #eee;
	color: #445e93;
}
@media (max-width: 40rem) {
	.heading {
		font-size: 16px;
	}
	p {
		font-size: 14px;
	}
	pre {
		max-width: 100%;
	}
}
header {
	width: 100%;
	background: #445e93;
	padding: 50px 50px 0 50px;
	text-align: center;
}
header .column {
	margin: 0;
}
header h1 {
	display: inline-block;
	font-size: 38px;
	text-transform: uppercase;
	letter-spacing: .1rem;
	padding: .9rem 1.3rem;
	color: #fff;
	border: 4px solid #fff;
	border-radius: 0.25rem;
	margin-bottom: 40px;
}
header span {
	display: block;
	font-size: 18px;
	color: #fff;
	opacity: 0.7;
}
header span a {
	color: #fff;
	border-bottom: 1px solid #fff;
}
header span a:hover,
header span a:focus {
	color: #fff;
}
header img {
	margin-top: 60px;
	max-width: 100%;
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
	-webkit-box-shadow: 4px 0 3px 0 rgba(0,0,0,0.1);
					box-shadow: 4px 0 3px 0 rgba(0,0,0,0.1);
}
@media (max-width: 40rem) {
	header h1 {
		font-size: 26px;
		padding: .6rem .7rem;
		margin-bottom: 30px;
		border: 3px solid #fff;
	}
	header span {
		font-size: 14px;
	}
	header img {
		margin-top: 30px;
	}
}
.note {
	width: 100%;
	background: #3a5487;
	padding: 1rem;
	color: #fff;
	text-align: center;
}
.note span {
	font-size: 90%;
	padding: .2rem .4rem;
	border: 2px solid #fff;
	border-radius: .2rem;
	margin: 0 .1rem 0 .1rem;
}
.note p a {
	color: #fff;
	border-bottom: 1px solid #fff;
}
.note p a:hover,
.note p a:focus {
	color: #fff;
}
@media (max-width: 40rem) {
	.note p {
		font-size: 14px;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.note {
		white-space: nowrap;
		overflow-x: hidden;
	}
}
.features {
	margin: 70px 0 70px 0;
}
.features .column.twelve {
	text-align: center;
}
.features h1 {
	margin-bottom: 50px;
}
.features i {
	font-size: 1rem;
	padding: .6rem .6rem;
	color: #445e93;
	border: 2px solid #445e93;
	border-radius: .25rem;
}
.features h3 {
	padding: .5rem 0;
	font-size: 18px;
}
.features p {
	font-size: 15px;
	line-height: 1.7;
	color: #777;
}
@media (max-width: 40rem) {
	.features {
		text-align: center;
		margin: 35px 0 35px 0;
	}
	.features h3 {
		font-size: 16px;
		margin-bottom: 0;
	}
	.features p {
		font-size: 14px;
		margin-top: 0;
		margin-bottom: 30px;
	}
}
.section-one,
.section-two {
	padding: 40px 0 40px 0;
}
.section-one .column.twelve,
.section-two .column.five {
	text-align: center;
}
.section-one span,
.section-two span {
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	padding: .2rem .7rem;
	color: #445e93;
	border: 2px solid #445e93;
	border-radius: .25rem;
	margin: 1rem 0 1rem 0;
}
.section-one p,
.section-two p {
	font-size: 16px;
	line-height: 1.7;
	color: #777;
}
.section-one pre {
	text-align: left;
}
@media (max-width: 40rem) {
	.section-one,
	.section-two {
		padding: 20px 0 20px 0;
	}
	.section-one p,
	.section-two p {
		font-size: 14px;
	}
}
.pre-preview {
	display: block;
  margin: 0;
  padding: 1rem 1.2rem;
  font-size: 90%;
  line-height: 1.5;
  background: #f1f1f1;
  border-bottom: 0;
  border-radius: .2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.pre-preview h6 {
	margin: 0;
}
.pre {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}