body {
	font-family: "Noto Sans", sans-serif;
}
header {
	display: block;
	width: 100%;
	padding: 50px;
	padding-bottom: 0;
	background: #445e93;
	color: #fff;
	text-align: center;
}
header h1 {
	display: inline-block;
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	padding: 10px 20px;
	border: 3px solid #fff;
	border-radius: 3px;
	margin-bottom: 40px;
}
@media (max-width: 768px) {
	header h1 {
		font-size: 26px;
	}
}
header small {
	display: block;
	font-size: 18px;
	color: #fff;
	opacity: 0.7;
}
header img {
	display: block;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	max-width: 100%;
	margin: 0 auto;
	margin-top: 65px;
	opacity: 0.95;
}
@media (max-width: 768px) {
	header img {
		margin-top: 30px;
	}
}